USE [master]
GO
/****** Object:  Database [GarageDb]    Script Date: 3/31/2021 11:34:23 PM ******/
CREATE DATABASE [GarageDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GarageDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCAL\MSSQL\DATA\GarageDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GarageDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCAL\MSSQL\DATA\GarageDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GarageDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GarageDb]
GO
/****** Object:  Table [dbo].[District]    Script Date: 3/31/2021 11:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] NOT NULL,
	[DivisionId] [int] NOT NULL,
	[District] [varchar](30) NOT NULL,
	[lat] [nvarchar](50) NULL,
	[lon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/31/2021 11:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](max) NOT NULL,
	[ThanaId] [int] NOT NULL,
	[Intime] [nvarchar](50) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rating]    Script Date: 3/31/2021 11:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[GarageId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rate] [int] NULL,
	[Review] [nvarchar](max) NULL,
	[InTime] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 3/31/2021 11:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Intime] [nvarchar](50) NULL,
	[GarageId] [int] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Upazila]    Script Date: 3/31/2021 11:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upazila](
	[Id] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Thana] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserList]    Script Date: 3/31/2021 11:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserList](
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NULL,
	[UserType] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Dob] [nvarchar](50) NULL,
	[GarageName] [nvarchar](max) NULL,
	[District] [int] NOT NULL,
	[Thana] [int] NOT NULL,
	[Location] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[Intime] [nvarchar](50) NOT NULL,
	[Lat] [nvarchar](50) NULL,
	[Long] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserList] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[District] ([Id], [DivisionId], [District], [lat], [lon]) VALUES (1, 3, N'Dhaka', N'23.7115253', N'90.4111451')
INSERT [dbo].[District] ([Id], [DivisionId], [District], [lat], [lon]) VALUES (2, 3, N'Faridpur', N'23.6070822', N'89.8429406')
INSERT [dbo].[District] ([Id], [DivisionId], [District], [lat], [lon]) VALUES (3, 3, N'Gazipur', N'24.0022858', N'90.4264283')
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [LocationName], [ThanaId], [Intime]) VALUES (1, N'Bohadder Hat', 560, N'30/03/2021_02:19:58')
INSERT [dbo].[Location] ([Id], [LocationName], [ThanaId], [Intime]) VALUES (2, N'2no Gate', 569, N'30/03/2021_02:20:34')
INSERT [dbo].[Location] ([Id], [LocationName], [ThanaId], [Intime]) VALUES (3, N'Muradpur', 569, N'30/03/2021_10:30:46')
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RateId], [GarageId], [UserId], [Rate], [Review], [InTime]) VALUES (1, 0, 1002, 3, N'Not good', N'31/03/2021_12:03:03')
INSERT [dbo].[Rating] ([RateId], [GarageId], [UserId], [Rate], [Review], [InTime]) VALUES (2, 1002, 1002, 4, N'', N'31/03/2021_12:05:59')
SET IDENTITY_INSERT [dbo].[Rating] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [ServiceName], [Price], [Intime], [GarageId]) VALUES (4, N'Horn Servicing', CAST(300.00 AS Decimal(18, 2)), N'30/03/2021_10:29:36', 0)
SET IDENTITY_INSERT [dbo].[Service] OFF
INSERT [dbo].[Upazila] ([Id], [DistrictId], [Thana]) VALUES (1, 34, N'Amtali')
INSERT [dbo].[Upazila] ([Id], [DistrictId], [Thana]) VALUES (2, 34, N'Bamna ')
INSERT [dbo].[Upazila] ([Id], [DistrictId], [Thana]) VALUES (3, 34, N'Barguna Sadar ')
GO
INSERT [dbo].[UserList] ([UserId], [Name], [Email], [MobileNo], [UserType], [Gender], [Dob], [GarageName], [District], [Thana], [Location], [Address], [Password], [Picture], [Status], [Intime], [Lat], [Long]) VALUES (1001, N'Israt Jahan', N'Moderatetech17@gmail.com', N'01685235698', N'Customer', N'Female', N'02/03/2021', N'', 43, 560, 1, N'Beside Mobile Market', N'123', N'/Photos/1001.png', N'A', N'30/03/2021_03:57:50', N'23.7018', N'90.3742')
INSERT [dbo].[UserList] ([UserId], [Name], [Email], [MobileNo], [UserType], [Gender], [Dob], [GarageName], [District], [Thana], [Location], [Address], [Password], [Picture], [Status], [Intime], [Lat], [Long]) VALUES (1002, N'Sanjida Pritu', N'shfwedding@gmail.com', N'0169563256', N'Garage', N'--Select--', N'', N'Janata Garage', 43, 569, 2, N'Opposite of Chittagong Shopping Complex', N'123', N'/Photos/1002.png', N'A', N'30/03/2021_04:01:05', N'23.7018', N'90.3742')
/****** Object:  Index [location]    Script Date: 3/31/2021 11:34:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [location] ON [dbo].[Location]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [email]    Script Date: 3/31/2021 11:34:23 PM ******/
ALTER TABLE [dbo].[UserList] ADD  CONSTRAINT [email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [mob]    Script Date: 3/31/2021 11:34:23 PM ******/
ALTER TABLE [dbo].[UserList] ADD  CONSTRAINT [mob] UNIQUE NONCLUSTERED 
(
	[MobileNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
