USE [Location]
GO
/****** Object:  Table [dbo].[Upazilas]    Script Date: 3/29/2021 3:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upazilas](
	[Id] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Thana] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Upazilas] ([Id], [DistrictId], [Thana]) VALUES (1, 34, N'Amtali')
INSERT [dbo].[Upazilas] ([Id], [DistrictId], [Thana]) VALUES (2, 34, N'Bamna ')
INSERT [dbo].[Upazilas] ([Id], [DistrictId], [Thana]) VALUES (3, 34, N'Barguna Sadar ')
GO
